// colors
$primary: #0e1a47;
$main : #99734c;
$black: #000;
$black2: #414141;
$white: #fff;
// fonts
$mainFont: 'EB Garamond', serif;
$jost: 'Jost', sans-serif;
$montserrat: 'Montserrat', sans-serif;



