.booking {
  margin-bottom: 100px;
  &__inner {
    padding: 80px 0 60px;
    background-color: #f9f4f1;
    .title2 {
      margin-bottom: 50px;
      text-align: center;
      color: $primary;
    }
  }
  &Form {
    max-width: 690px;
    margin: 0 auto;
    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &__input {
      width: calc(50% - 12.5px);
      border: 1px solid #e9ebf1;
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: $white;
      &-icon {
        position: absolute;
        top: 50%;
        right: 25px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        img {
          width: 100%;
        }
      }
      label {
        pointer-events: none;
        position: absolute;
        top: 50%;
        @include transformY;
        left: 30px;
        display: block;
        font-size: 17px;
        line-height: 20px;
        font-family: $montserrat;
        font-weight: 400;
        color: $black2;
        margin-bottom: 4px;
        @include transition;
        &.top {
          top: 12px;
          @include transformReset;
        }
      }
      input {
        padding: 35px 30px 15px 30px;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        font-size: 17px;
        line-height: 20px;
        color: $primary;
        font-family: $montserrat;
        font-weight: 500;
        &:focus + label {
          top: 12px;
          @include transformReset;
        }
      }
    }
    textarea {
      resize: none;
      width: 100%;
      border: 1px solid #e9ebf1;
      padding: 30px 25px;
      box-sizing: border-box;
      font-size: 17px;
      line-height: 30px;
      font-family: $montserrat;
      font-weight: 400;
      color: $black2;
      text-align: left;
      margin-bottom: 50px;
    }
    &__checkboxes {
      margin-bottom: 50px;
      .checkbox {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .button {
      width: 100%;
      &:hover {
        background-color: $primary;
      }
      span {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }
  }
}
// 1180px
@mixin booking-xlg-xxlg {
  .booking {
    margin-bottom: 80px;
    &__inner {
      padding: 60px 0 50px;
    }
  }
}
// 930px
@mixin booking-md-lg {
  .booking {
    margin-bottom: 60px;
    &__inner {
      padding: 40px 20px;
      .title2 {
        margin-bottom: 36px;
      }
    }
    &Form {
      &__row {
        margin-bottom: 10px;
      }
      &__input {
        width: calc(50% - 5px);
      }
      &__checkboxes {
        margin-bottom: 36px;
      }
      textarea {
        margin-bottom: 36px;
      }
    }
  }
}
// 750px
@mixin booking-sm-md {
  .booking {
    margin-bottom: 40px;
    &__inner {
      padding: 30px 20px;
      .title2 {
        margin-bottom: 24px;
      }
    }
    &Form {
      &__row {
        margin-bottom: 0;
        flex-direction: column;
      }
      &__input {
        width: 100%;
        margin-bottom: 15px;
      }
      &__checkboxes {
        margin-bottom: 24px;
        .checkbox {
          margin-bottom: 10px;
        }
      }
      textarea {
        margin-bottom: 24px;
      }
    }
  }
}
// 440px
@mixin booking-xxsm-xsm {
  .booking {
    margin-bottom: 30px;
    background-color: #f9f4f1;
    &__inner {
      padding: 30px 0;
      .title2 {
        margin-bottom: 18px;
      }
    }
    &Form {
      &__input {
        input {
          padding: 35px 20px 15px 20px;
        }
        label {
          left: 20px;
        }
      }
      textarea {
        padding: 20px;
      }
    }
  }
}
