.contact {
  background-color: #f9fafd;
  border-bottom: 1px solid #0e1a4720;
  &.big {
    border: unset;
    background-color: unset;
    .contact {
      &__inner {
        background-color: #f9f4f1;
        padding: 50px 40px;
      }
      &Item {
        max-width: unset;
        width: calc(30% - 8px);
        &:first-child {
          width: calc(70% - 8px);
         }
         &__icon {
           width: 48px;
           height: 48px;
         }
         &__content {
          width: calc(100% - 68px);
         }
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }
  &Item {
    display: flex;
    align-items: center;
    width: calc(32% - 10px);
    max-width: 300px;
    &:last-child {
      width: calc(34% - 10px);
      max-width: 360px;
    }
    &:hover {
      opacity: 1;
      img {
        opacity: 1;
      }
    }
    &__icon {
      width: 56px;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;

      &.big {
        width: 68px;
        height: 52px;
      }
      &.ex {
        width: 75px;
        height: 52px;
      }
      img {
        width: 100%;
      }
    }
    img {
      opacity: 0.4;
      transition: 0.3s ease;
    }
    &__content {
      width: calc(100% - 90px);
    }
    .title6 {
      margin-bottom: 6px;
    }
    .title5 {
      color: $primary;
      font-weight: 500;
      br {
        display: none;
      }
    }
  }
}
// 1380px
@mixin contact-xxxlg-xxxxlg {
  .contact {
    &.big {
      .contact {
        &__inner {
          padding: 40px 20px;
        }
        &Item {
          width: calc(26% - 8px);
          &:first-child {
            width: calc(74% - 8px);
          }
          &__icon {
            width: 40px;
            height: 40px;
            margin-right: 10px;
          }
          &__content {
            width: calc(100% - 50px);
          }
        }
      }
    }
    &Item {
      &__icon {
        margin-right: 15px;
      }
    }
  }
}
// 1180px
@mixin contact-xlg-xxlg {
  .contact {
    &.big {
      .contact {
        &__inner {
          padding: 40px 20px;
        }
        &Item {
          width: calc(26% - 8px);
          &:first-child {
            width: calc(74% - 8px);
          }
          &__icon {
            width: 40px;
            height: 40px;
            margin-right: 10px;
          }
          &__content {
            width: calc(100% - 50px);
          }
        }
      }
    }
    &Item {
      &__icon {
        margin-right: 15px;
      }
    }
  }
}
// 1024px
@mixin contact-lg-xlg {
  .contact {
    &__inner {
      padding: 40px 0;
    }
    &Item {
      width: calc(32% - 5px);
      &:last-child {
        width: calc(34% - 5px);
      }
      &__content {
        width: calc(100% - 56px);
      }
      &__icon {
        margin-right: 8px;
        width: 44px;
        height: 44px;
        &.big {
          width: 50px;
          height: 44px;
        }
        &.ex {
          width: 55px;
          height: 44px;
        }
      }
      .title5 {
        font-size: 20px;
        line-height: 24px;
      }
      .title6 {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 4px;
      }
    }
  }
}
// 930px
@mixin contact-md-lg {
  .contact {
    &.big {
      .contact {
        &__inner {
          padding: 20px;
        }
        &Item {
          width: calc(30% - 8px);
          &:first-child {
            width: calc(70% - 8px);
          }
          &__icon {
            width: 30px;
            height: 30px;
          }
          &__content {
            width: calc(100% - 40px);
          }
 
        }
      }
    }
    &Item {
      .title5 {
        font-size: 18px;
        line-height: 22px;
      }
      .title6 {
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 4px;
      }
    }
  }
}
// 750px
@mixin contact-sm-md {
  .contact {
    &.big {
      .contact {
        &Item {
          width: 100%;
          &:first-child {
            width: 100%;
          }
          &__icon {
            width: 48px;
            height: 48px;
            margin-right: 20px;
          }
          &__content {
            width: calc(100% - 68px);
          }
          .title5 {
            br {
              display: block;
            }
          }
        }
      }
    }
    &__inner {
        flex-direction: column;
        align-items: flex-start;
    }
    &Item {
        width: 100%;
        margin-bottom: 30px;
        &:last-child {
            width: 100%;
            margin: 0;
        }
      &__content {
        width: calc(100% - 90px);
      }
      &__icon {
        width: 70px;
        height: 70px;
        margin-right: 20px;
        img {
            max-width: 60px;
        }
        &.big {
            width: 70px;
            height: 70px;
            img {
                max-width: 65px;
            }
        }
        &.ex {
            width: 70px;
            height: 70px;
            img {
                max-width: unset;
            }
        }
      }
      .title5 {
        font-size: 24px;
        line-height: 28px;
      }
      .title6 {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 6px;
      }
    }
  }
}
// 540px
@mixin contact-xsm-sm {
  .contact {
    &.big {
      .contact {
        &Item {
          &__icon {
            width: 35px;
            height: 35px;
            margin-right: 10px;
          }
          &__content {
            width: calc(100% - 45px);
          }
          .title5 {
            font-size: 22px;
            line-height: 25px;
            br {
              display: none;
            }
          }
        }
      }
    }
  }
}
// 440px
@mixin contact-xxsm-xsm{
  .contact {
    &.big {
      margin: 0 -20px;
      width: calc(100% + 40px);
      .contact {
        &Item {
          &__icon {
            width: 30px;
            height: 30px;
            margin-right: 10px;
          }
          &__content {
            width: calc(100% - 40px);
          }
          .title5 {
            font-size: 20px;
            line-height: 24px;
          }
          .title6 {
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}