.location {
  background-color: #f9f4f1;
  &__inner {
    padding: 100px 0;
    &-content {
      width: 55%;
    }
    &-map {
      position: absolute;
      top: 50%;
      right: -20%;
      width: 65%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      transform: translateY(-50%);
      img {
        width: 100%;
        object-position: left;
      }
    }
    &-buttons {
      display: flex;
      align-items: center;
      .button {
        margin-right: 25px;
        &:last-child {
          margin: 0;
        }
      }
    }
    .title2 {
      margin-bottom: 30px;
      color: $primary;
    }
    .paragraph {
      margin-bottom: 40px;
      &.sm {
        font-family: $montserrat;
        font-size: 15px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 50px;
      }
      a {
        text-decoration: underline;
        color: $primary;
        font-weight: 500;
      }
    }
  }
  &Item {
    position: absolute;
    padding-left: 24px;
    &.main {
      top: 55.5%;
      left: 32%;
      text-align: center;
      &::before {
        display: none;
      }
      .title6 {
        font-size: 17px;
        line-height: 20px;
        font-family: $montserrat;
        font-weight: 700;
        color: $primary;
        margin: 0;
      }
    }
    &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    &:nth-child(1) {
      top: 15%;
      left: 40%;
    }
    &:nth-child(2) {
      top: 29%;
      left: 16%;
    }
    &:nth-child(3) {
      top: 43%;
      left: 43%;
    }
    &:nth-child(4) {
      top: 37%;
      left: 80%;
    }
    &:nth-child(6) {
      top: 70%;
      left: 6%;
    }
    &:nth-child(7) {
      top: 82%;
      left: 27%;
    }
    &:nth-child(8) {
      top: 87%;
      left: 46%;
    }
    &:nth-child(9) {
      top: 77%;
      left: 68%;
    }
    &::before {
      position: absolute;
      top: 3px;
      left: 0;
      width: 10px;
      height: 10px;
      content: "";
      background-color: rgb(174, 140, 98);
      border-radius: 50%;
      opacity: 0.4;
    }
    .title6 {
      font-size: 14px;
      line-height: 18px;
      font-family: $montserrat;
      font-weight: 600;
      color: $primary;
      margin: 0;
      text-transform: uppercase;
    }
    .paragraph {
      font-size: 14px;
      line-height: 18px;
      font-family: $montserrat;
      font-weight: 400;
      color: $primary;
      margin: 0;
    }
    span {
      position: relative;
      display: block;
      left: 50%;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 1px solid rgb(215, 200, 182);
      background-color: transparent;
      transform: translateX(-50%);
      z-index: 2;
      margin-top: 10px;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        background-color: rgb(174, 140, 98);
        border-radius: 50%;
        width: 12px;
        height: 12px;
        transform: translate(-50%, -50%);
      }
    }
  }
}
// 1380px
@mixin location-xxxlg-xxxxlg {
  .location {
    &__inner {
      padding: 70px 0;
      &-map {
        width: 60%;
        right: -10%;
      }
    }
  }
}
// 1250px
@mixin location-xlg-xxlg-extra {
  .location {
  }
}
// 1180px
@mixin location-xlg-xxlg {
  .location {
    &__inner {
      &-map {
        width: 55%;
        right: -5%;
        img {
          width: 105%;
          height: 76%;
        }
      }
      &-buttons {
        .button {
          margin-right: 15px;
          font-size: 12px;
          line-height: 15px;
          padding: 20px 15px;
        }
      }
      .paragraph {
        &.sm {
          margin-bottom: 40px;
        }
      }
    }
  }
}
// 1024px
@mixin location-lg-xlg {
  .location {
    &__inner {
      display: flex;
      flex-direction: column;
      &-content {
        width: 100%;
        max-width: unset;
        margin-bottom: 40px;
      }
      &-map {
        margin: 0 -50px;
        width: calc(100% + 100px);
        max-width: unset;
        position: static;
        transform: translate(0);
        img {
          opacity: 0;
          pointer-events: none;
          height: unset;
          width: 100%;
        }
      }
      &-buttons {
        .button {
          padding: 20px 12px;
        }
      }
    }
  }
}
// 930px
@mixin location-md-lg {
  .location {
  }
}
// 750px
@mixin location-sm-md {
  .location {
  }
}
// 650px
@mixin location-sm-md-extra {
  .location {
    &__inner {
      &-map {
        min-height: 400px;
      }
    }
    &Item {
      padding-left: 16px;
      &::before {
        top: 2px;
      }
      &.main {
        .title6 {
          font-size: 14px;
          line-height: 18px;
        }
      }
      .title6 {
        font-size: 12px;
        line-height: 16px;
      }
      .paragraph {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
// 540px
@mixin location-xsm-sm {
  .location {
    &__inner {
      &__content {
        margin-bottom: 20px;
      }
      &-map {
        margin: 0 -30px;
        width: calc(100% + 50px);
        min-height: 450px;
      }
      &-buttons {
        flex-direction: column;
        align-items: flex-start;
        .button {
          margin: 0 0 30px 0;
          padding: 18px 24px;
        }
      }
    }
    &Item {
        &::before {
            width: 8px;
            height: 8px;
        }
      &.main {
        .title6 {
          font-size: 12px;
          line-height: 14px;
        }
      }
      .title6 {
        font-size: 10px;
        line-height: 13px;
      }
      .paragraph {
        font-size: 10px;
        line-height: 13px;
      }
      span {
        width: 22px;
        height: 22px;
        margin-top: 7px;
        &::before {
            width: 9px;
            height: 9px;
        }
      }
    }
  }
}
// 440px
@mixin location-xxsm-xsm {
  .location {
  }
}
