.nav {
  display: flex;
  align-items: center;
  position: relative;
  &Menu {
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    min-width: 100%;
    background-color: $white;
    transition: 0.4s ease;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
    &::before {
      position: absolute;
      top: 0;
      right: calc(100% - 2px);
      width: 2000px;
      height: 100%;
      content: "";
      background-color: $white;
      transition: 0.4s ease;
    }
    &::after {
      position: absolute;
      top: 0;
      left: calc(100% - 2px);
      width: 2000px;
      height: 100%;
      content: "";
      background-color: $white;
      transition: 0.4s ease;
    }
    &.active {
      padding: 60px 0 80px;
      opacity: 1;
      max-height: 500px;
      overflow: visible;
      pointer-events: all;
    }
    &__inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      &-col {
        display: flex;
        flex-direction: column;
      }
      h5 {
        font-size: 23px;
        line-height: 26px;
        color: $primary;
        font-weight: 600;
        padding: 5px;
        margin-bottom: 20px;
        cursor: pointer;
        user-select: none;
        &:hover {
          opacity: 0.8;
        }
      }
      a {
        font-size: 23px;
        line-height: 26px;
        color: $primary;
        font-weight: 600;
        padding: 5px;
        margin-bottom: 20px;
        &:hover {
          opacity: 1;
          color: $main;
        }
        &:last-child {
          margin: 0;
        }
      }
    }
    &__item {
      &-dropdown {
        display: flex;
        flex-direction: column;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: 0.5s ease;
        padding: 0 24px;
        &.active {
          opacity: 1;
          max-height: 200px;
          padding: 5px 24px 20px;
        }
      }
      a {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
      }
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
    &-buttons {
      display: none;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      height: 100%;
      &:last-child {
        margin: 0;
      }
      a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: $jost;
        text-transform: uppercase;
        color: $white;
        padding: 5px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 3px;
          background-color: #af906e;
          bottom: -15px;
          opacity: 0;
          transition: 0.3s ease;
        }
        &.active {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}
.burger {
  display: none;
}
// 1580px
@mixin nav-xxxxlg-xxxxxlg {
  .nav {
    &__inner {
      li {
        margin-right: 20px;
        a {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}
// 1380px
@mixin nav-xxxlg-xxxxlg {
  .nav {
    &Menu {
      min-width: 700px;
      &.active {
        padding: 40px 0 60px;
      }
      &__inner {
        a {
          font-size: 20px;
          line-height: 25px;
          margin-bottom: 15px;
        }
        h5 {
          font-size: 20px;
          line-height: 25px;
          margin-bottom: 15px;
        }
      }
      &__item {
        a {
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 15px;
        }
      }
    }
    &__inner {
      li {
        margin-right: 18px;
        a {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
}
// 1180px
@mixin nav-xlg-xxlg {
  .nav {
    &Menu {
      min-width: 600px;
      &.active {
        padding: 40px 0 40px;
      }
      &__inner {
        a {
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 12px;
        }
        h5 {
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 12px;
        }
      }
      &__item {
        &-dropdown {
          &.active {
            padding: 5px 18px 18px;
          }
        }
        a {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 10px;
        }
      }
    }
    &__inner {
      li {
        margin-right: 14px;
        a {
          font-size: 11px;
          line-height: 15px;
          padding: 3px;
        }
      }
    }
  }
}
// 1024px
@mixin nav-lg-xlg {
  body.active {
    overflow: hidden;
  }
  .nav {
    position: fixed;
    top: 121px;
    left: 0;
    width: 100%;
    height: calc(100% - 121px);
    z-index: 9;
    background: rgba($color: #000000, $alpha: 0.4);
    transform: translateX(100%);
    @include transition;
    &.active {
      @include transformReset;
    }
    &Menu {
      display: none;
    }
    &__inner {
      flex-direction: column;
      position: absolute;
      justify-content: unset;
      align-items: center;
      box-sizing: border-box;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 750px;
      z-index: 1;
      padding: 40px 50px 50px;
      height: 100%;
      overflow-y: auto;
      background: $white;
      &-buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto 0 0 0;
        .button {
          width: 100%;
          padding: 40px 50px;
          font-size: 30px;
          line-height: 35px;
          color: $primary;
          border-color: #e4c494;
          background-color: #fbf6ef;
          margin: 0 0 20px 0;
          font-family: $montserrat;
          font-weight: 600;
          &:last-of-type {
            margin-bottom: 45px;
          }
        }
      }
      &-lang {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $jost;
        font-weight: 500;
        a {
          font-size: 30px;
          line-height: 35px;
          color: $primary;
          text-transform: uppercase;
          &:hover {
            color: $main;
          }
        }
        hr {
          width: 1px;
          height: 30px;
          margin: 0 15px;
          background-color: rgba($primary, 0.4);
        }
      }
      li {
        margin: 0 0 30px 0;
        width: 100%;
        &:last-of-type {
          margin-bottom: 50px;
        }
        a {
          width: 100%;
          font-size: 30px;
          line-height: 35px;
          padding: 10px;
          color: $primary;
          font-weight: 500;
          text-align: center;
          &::before {
            display: none;
          }
          &:hover {
            color: $main;
          }
        }
      }
    }
  }
  .burger {
    display: block;
    cursor: pointer;
    @include transition;
    position: relative;
    width: 36px;
    height: 36px;
    &:hover {
      opacity: 0.8;
    }
    &::before {
      top: 20%;
      width: 100%;
      height: 3px;
      background-color: $white;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      @include transformX;
    }
    span {
      top: 50%;
      width: 100%;
      height: 3px;
      background-color: $white;
      transition: all 0.3s ease;
      position: absolute;
      left: 50%;
      @include transform;
      @include transition;
    }
    &::after {
      bottom: 20%;
      width: 100%;
      height: 3px;
      background-color: $white;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      @include transformX;
    }
    &.active {
      &::before {
        top: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
      }
      span {
        opacity: 0;
      }
      &::after {
        bottom: 50%;
        -webkit-transform: translate(-50%, 50%) rotate(-45deg);
        transform: translate(-50%, 50%) rotate(-45deg);
      }
    }
  }
}
// 650px
@mixin nav-sm-md-extra {
  .nav {
    top: 97.67px;
    height: calc(100% - 97.67px);
    &__inner {
      padding: 40px 20px;
      &-lang {
        a {
          font-size: 22px;
          line-height: 25px;
        }
      }
      li {
        margin-bottom: 25px;
        a {
          font-size: 22px;
          line-height: 25px;
          padding: 5px;
        }
      }
      .button {
        font-size: 22px;
        line-height: 25px;
        padding: 30px 40px;
        &:last-of-type {
          margin-bottom: 30px;
        }
      }
    }
  }
}
// 440px
@mixin nav-xxsm-xsm {
  .nav {
    top: 86.72px;
    height: calc(100% - 86.72px);
  }
}
