.news {
  padding: 120px 0 90px;
  &__inner {
    &-title {
      text-align: center;
      margin-bottom: 40px;
    }
    &-row {
      margin: 0 -11px;
      &-wrapper {
        position: relative;
      }
    }
    .slick {
      &-disabled {
        opacity: 0;
        pointer-events: none;
      }
    }
    .arrows {
      button {
        top: 40%;
      }
    }
    h2 {
      color: $primary;
      margin-bottom: 30px;
    }
  }
  &Item {
    margin: 0 11px;
    &__inner {
      width: 100%;
      height: 100%;
    }
    &__image {
      padding-bottom: 68%;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
      }
    }
    &__content {
      padding: 34px 0;
    }
    h6 {
      font-size: 13px;
      line-height: 16px;
    }
    h5 {
      color: $primary;
      margin-bottom: 24px;
      max-width: 360px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      max-width: 360px;
      margin-bottom: 20px;
      font-family: $montserrat;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a {
      text-transform: uppercase;
      color: $primary;
      letter-spacing: 1px;
      font-size: 13px;
      line-height: 16px;
      position: relative;
      font-weight: 500;
      font-family: $montserrat;
      padding-bottom: 8px;
      &:hover {
        opacity: 1;
        color: $main;
      }
      &::before {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $main;
        transition: 0.3s ease;
      }
    }
  }
}
// 1380px
@mixin news-xxxlg-xxxxlg {
  .news {
  }
}
// 1250px
@mixin news-xlg-xxlg-extra {
  .news {
    &__inner {
      &-row {
        margin: 0 -6px;
      }
    }
    &Item {
      margin: 0 6px;
    }
  }
}
// 1180px
@mixin news-xlg-xxlg {
  .news {
  }
}
// 1024px
@mixin news-lg-xlg {
  .news {
    &__inner {
      &-row {
        margin: 0 -10px;
      }
    }
    &Item {
      margin: 0 10px;
    }
  }
}
// 930px
@mixin news-md-lg {
  .news {
    &__inner {
      &-row {
        margin: 0 -5px;
      }
    }
    &Item {
      margin: 0 5px;
    }
  }
}
// 750px
@mixin news-sm-md {
  .news {
    padding: 90px 0 140px;
    &__inner {
      &-row {
        margin: 0 -10px;
      }
      .slick {
        &-dots {
          bottom: unset;
          top: calc(100% + 40px);
          display: flex;
          align-items: center;
          justify-content: center;
          li {
            margin: 0 3px;
            width: 20px;
            height: 20px;
            &.slick-active {
              button {
                background-color: #d4c4ac;
              }
            }
            button {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              transition: 0.3s ease;
              background-color: transparent;
              &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 8px;
                height: 8px;
                content: "";
                background-color: #d4c4ac;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                opacity: 0.5;
              }
            }
          }
        }
      }
      h2 {
        font-size: 65px;
        line-height: 70px;
        margin-bottom: 40px;
      }
      p {
        font-size: 30px;
        line-height: 40px;
      }
    }
    &Item {
      margin: 0 10px;
      h5 {
        font-size: 40px;
        line-height: 50px;
        max-width: unset;
      }
      h6 {
        font-size: 16px;
        line-height: 20px;
      }
      p {
        font-size: 26px;
        line-height: 36px;
        max-width: unset;
      }
      a {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
// 650px
@mixin news-sm-md-extra {
  .news {
    &__inner {
      h2 {
        font-size: 55px;
        line-height: 60px;
        margin-bottom: 30px;
      }
      p {
        font-size: 25px;
        line-height: 30px;
      }
    }
    &Item {
      h5 {
        font-size: 35px;
        line-height: 40px;
      }
      h6 {
        font-size: 16px;
        line-height: 20px;
      }
      p {
        font-size: 20px;
        line-height: 26px;
      }
      a {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
// 540px
@mixin news-xsm-sm {
  .news {
    padding: 70px 0 120px;
    &__inner {
      .slick {
        &-dots {
          top: calc(100% + 25px);
          li {
            width: 16px;
            height: 16px;
            margin: 0 3px;
            button {
              &::before {
                width: 6px;
                height: 6px;
              }
            }
          }
        }
      }
      h2 {
        font-size: 46px;
        line-height: 52px;
        margin-bottom: 25px;
      }
      p {
        font-size: 20px;
        line-height: 25px;
      }
    }
    &Item {
      &__content {
        padding: 28px 0;
      }
      h5 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 18px;
      }
      h6 {
        font-size: 14px;
        line-height: 18px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
      }
      a {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
// 440px
@mixin news-xxsm-xsm {
  .news {
    padding: 70px 0 110px;
    &__inner {
      h2 {
        font-size: 40px;
        line-height: 45px;
      }
    }
    &Item {
        h5 {
          font-size: 25px;
          line-height: 30px;
        }
        h6 {
          font-size: 12px;
          line-height: 15px;
        }
        p {
          font-size: 16px;
          line-height: 22px;
        }

      }
  }
}
