// 1840px
@include xxxxxlg-xxxxxxlg {
    @include activity-xxxxxlg-xxxxxxlg;
}
// 1720px
@include xxxxxlg-xxxxxxlg-extra {
    @include activity-xxxxxlg-xxxxxxlg-extra;
}
// 1600px
@include xxxxlg-xxxxxlg {
    .arrows {
        button {
            right: 0;
            transform: translate(50%, -50%);
        }
        .prev {
            left: 0;
            transform: translate(-50%, -50%);
        }
    }
    .button {
        &.uniq {
            padding: 12px 20px;
        }
    }
    @include header-xxxxlg-xxxxxlg;
    @include nav-xxxxlg-xxxxxlg;
    @include activity-xxxxlg-xxxxxlg;
}
// 1500px
@include xxxxlg-xxxxxlg-extra {
    @include activity-xxxxlg-xxxxxlg-extra;
}
// 1380px
@include xxxlg-xxxxlg {
    .main {
        padding: 0;
    }
    h2 {
        font-size: 58px;
        line-height: 68px;
    }
    h3 {
        font-size: 44px;
        line-height: 54px;
    }
    p {
        font-size: 22px;
        line-height: 28px;
        &.big {
            font-size: 24px;
            line-height: 32px;
        }
    }
    .button {
        &.uniq {
            padding: 8px 10px;
            font-size: 11px;
            span {
                width: 20px;
                height: 20px
            }
        }
    }
    @include header-xxxlg-xxxxlg;
    @include nav-xxxlg-xxxxlg;
    @include hero-xxxlg-xxxxlg;
    @include HeroCalendar-xxxlg-xxxxlg;
    @include activity-xxxlg-xxxxlg;
    @include location-xxxlg-xxxxlg;

}
// 1250px
@include xlg-xxlg-extra {
    @include hero-xlg-xxlg-extra;
    @include stay-xlg-xxlg-extra;
    @include news-xlg-xxlg-extra;

}
// 1180px
@include xlg-xxlg {
    h2 {
        font-size: 53px;
        line-height: 60px;
    }
    h3 {
        font-size: 40px;
        line-height: 49px;
    }
    h4 {
        font-size: 28px;
        line-height: 34px;
    }
    h5 {
        font-size: 24px;
        line-height: 30px;
    }
    @include nav-xlg-xxlg;
    @include header-xlg-xxlg;
    @include hero-xlg-xxlg;
    @include HeroCalendar-xlg-xxlg;
    @include offer-xlg-xxlg;
    @include rooms-xlg-xxlg;
    @include benefits-xlg-xxlg;
    @include stay-xlg-xxlg;
    @include activity-xlg-xxlg;
    @include location-xlg-xxlg;
    @include newsletter-xlg-xxlg;
    @include contact-xlg-xxlg;
    @include footer-xlg-xxlg;


}
// 1024px
@include lg-xlg {
    ::-webkit-scrollbar{
        display: none;
    }
    h2 {
        font-size: 45px;
        line-height: 50px;
    }
    h3 {
        font-size: 35px;
        line-height: 44px;
    }
    h6 {
        margin-bottom: 10px;
    }
    p {
        font-size: 20px;
        line-height: 26px;
        &.big {
            font-size: 22px;
            line-height: 30px;
        }
    }
    @include header-lg-xlg;
    @include nav-lg-xlg;
    @include hero-lg-xlg;
    @include HeroCalendar-lg-xlg;
    @include rooms-lg-xlg;
    @include benefits-lg-xlg;
    @include stay-lg-xlg;
    @include news-lg-xlg;
    @include activity-lg-xlg;
    @include follow-lg-xlg;
    @include location-lg-xlg;
    @include contact-lg-xlg;
    @include footer-lg-xlg;

}
// 930px
@include md-lg {
    h1 {
        font-size: 90px;
        line-height: 95px;
    }
    h2 {
        &.sm {
            font-size: 46px;
            line-height: 52px;
        }
    }
    h3 {
        font-size: 30px;
        line-height: 38px;
    }
    @include hero-md-lg;
    @include HeroCalendar-md-lg;
    @include offer-md-lg;
    @include benefits-md-lg;
    @include stay-md-lg;
    @include news-md-lg;
    @include activity-md-lg;
    @include follow-md-lg;
    @include newsletter-md-lg;
    @include contact-md-lg;
    @include footer-md-lg;

}
// 750px
@include sm-md {
    .arrows {
        display: none;
    }
    @include hero-sm-md;
    @include offer-sm-md;
    @include rooms-sm-md;
    @include stay-sm-md;
    @include news-sm-md;
    @include newsletter-sm-md;
    @include contact-sm-md;
    @include footer-sm-md;

}
// 650px
@include sm-md-extra {
    .auto__container {
        padding: 0 30px;
    }
    h1 {
        font-size: 80px;
        line-height: 100%;
    }
    h2 {
        font-size: 40px;
        line-height: 45px;
        &.sm {
            font-size: 40px;
            line-height: 45px;
        }
    }
    h3 {
        font-size: 26px;
        line-height: 34px;
    }
    @include header-sm-md-extra;
    @include nav-sm-md-extra;
    @include hero-sm-md-extra;
    @include HeroCalendar-sm-md-extra;
    @include offer-sm-md-extra;
    @include benefits-sm-md-extra;
    @include rooms-sm-md-extra;
    @include stay-sm-md-extra;
    @include news-sm-md-extra;
    @include follow-sm-md-extra;
    @include footer-sm-md-extra;

}
// 540px
@include xsm-sm  {
    h1 {
        font-size: 65px;
    }
    h2 {
        &.sm {
            font-size: 33px;
            line-height: 38px;
        }
    }
    h3 {
        font-size: 22px;
        line-height: 30px;
    }
    h6 {
        font-size: 12px;
        line-height: 15px;
    }
    p {
        font-size: 17px;
        line-height: 23px;
        &.big {
            font-size: 20px;
            line-height: 26px;
        }
    }
    @include hero-xsm-sm;
    @include HeroCalendar-xsm-sm;
    @include offer-xsm-sm;
    @include benefits-xsm-sm;
    @include rooms-xsm-sm;
    @include stay-xsm-sm;
    @include news-xsm-sm;
    @include activity-xsm-sm;
    @include location-xsm-sm;
    @include newsletter-xsm-sm;

}
// 440px
@include xxsm-xsm  {
    .auto__container {
        padding: 0 20px;
    }
    h1 {
        font-size: 55px;
    }
    h2 {
        &.sm {
            font-size: 28px;
            line-height: 30px;
        }
    }
    @include header-xxsm-xsm;
    @include nav-xxsm-xsm;
    @include hero-xxsm-xsm;
    @include offer-xxsm-xsm;
    @include benefits-xxsm-xsm;
    @include rooms-xxsm-xsm;
    @include stay-xxsm-xsm;
    @include news-xxsm-xsm;
    @include activity-xxsm-xsm;

}
// 390px
@include xxxsm-xxsm  {
    h1 {
        font-size: 45px;
    }
    h2 {
        &.sm {
            font-size: 22px;
            line-height: 26px;
        }
    }
    // @include hero-xxxsm-xxsm;
}

